body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-size: 20px;
    background-color: #FFFAC2;
}
.center {
    margin: 50px 475px;
    width: 40%;
    background: #FEFD76; 
    border-radius: 10px;
    position: absolute;
}

.center h2{
    text-align: center;
     padding: 0 0 20px 0;
     border-bottom: 1px solid black;
 }
 .center form{
    padding: 20px 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    /* border-bottom: 2px solid #825cff; */
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: white;
    border-radius:15px;
    outline: black;
}

.description input {
    height: 200px;
    vertical-align: top;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
    color: #825cff;
}
input[type="submit"]{
    width: 100%;
    text-align: center;
    height: 50px;
    border: 1px solid;
    background:#825cff;
    border-radius: 20px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
 }
 input[type="submit"]:hover{
    border-color: #825cff;
    transition: .5s;
}


#socials {
    width: 40%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
    background-color: #FEFD76;
    position: relative;
    border-radius: 10px;

    float: right;
    margin: 20px 250px;
    font-size: 40px;

    display: flex;
    justify-content: space-evenly;
}